@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --primary-bg: #091628;
  --secondary : #C19B5B;
  --beige-bg : #F5EEC5;
  --black2 : #000C1E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    --primary-bg: #091628;
    --secondary : #C19B5B;
    --beige-bg : #F5EEC5;
    --black2 : #000C1E;
  }
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
  font-family: var(--font-satoshi);
}
a {
  text-decoration: none !important;
}

body {
  color: rgb(var(--primary-bg));
  font-family: var(--font-satoshi);
  background-color: rgb(var(--primary-bg));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
